NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_BACKEND_APP_URL="http://localhost:8080"
# NEXT_PUBLIC_BACKEND_APP_URL="https://7354f799dbe3.ngrok-free.app"

AUTH_SECRET="<secret>"
AUTH_SESSION_MAX_AGE=10800 # 600 Seconds is 10 mins

DEBUG="DEBUG" # NONE | DEBUG